.preloader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5F6F7;
}

.preloader_disabled {
    display: none;
}

.preloader__circle {
	display: block;
	width: 50px;
	height: 50px;
	border: 4px solid #444;
	border-bottom-color: #888;
	border-radius: 50%;
    position: absolute;
    left: 48%;
	margin: auto;
	animation: spin .75s infinite linear;
}

.preloader__info {
    margin: 178px auto 80px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    color: #B6BCBF;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}